<!DOCTYPE html>
<html>
<head>
  <title>Graduate a Student</title>
</head>
<body>
  <h1>Enter student's name to confirm graduation:</h1>
  <form action="/graduate" method="POST">
    <input type="text" name="name" placeholder="Name">
    <button type="submit">Save</button>
  </form>
</body>
</html>